#menus_wrapper {
	background: #dee2e6;
	background: #e3e8ea url(layout/site/menus_wrapper_bg.gif) repeat-x;
}
#main_menu li {
	background: url(layout/site/main_menu_li.gif) no-repeat right bottom;
}
#main_menu li.last {
	background: none;
}

#main_menu a:link,#main_menu a:visited,#main_menu a:active {
	background: url(layout/site/mm_lk_middle_o.gif) repeat-x 0 -33px;
}

#main_menu span {
	background: url(layout/site/mm_lk_left_o.gif) no-repeat 0 -33px;
}

#main_menu span span {
	background: url(layout/site/mm_lk_right_o.gif) no-repeat right -33px;
}

#main_menu a:hover {
	background-position: 0 -66px;
}

#main_menu a:hover span {
	background-position: 0 -66px;
}

#main_menu a:hover span span {
	background-position: right -66px;
}

#main_menu a.selected:link,#main_menu a.selected:visited,#main_menu a.selected:hover,#main_menu a.selected:active
	{
	background-position: 0 0;
}

#main_menu a.selected:link span,#main_menu a.selected:visited span,#main_menu a.selected:hover span,#main_menu a.selected:active span
	{
	background-position: 0 0;
}

#main_menu a.selected:link span span,#main_menu a.selected:visited span span,#main_menu a.selected:hover span span,#main_menu a.selected:active span span
	{
	background-position: right 0;
}