<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Informations sur le Lecteur Silverlight</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" background="" link="#FFFF33" vlink="#00FF00" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br>
<br>
<table width="692" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">
  <tr> 
    <td height="189"> <p align="center"><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif">Ce 
        lecteur vid&eacute;o est compatible avec les principaux syst&egrave;mes 
        d&#8217;exploitation<br>
        </font><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif">(windows, 
        mac os, linux) et navigateurs internet (internet explorer, firefox, safari, 
        chrome).</font></p>
      <p align="center"><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif">Mettez-le en favoris : il est r&eacute;guli&egrave;rement 
        mis &agrave; jour (vid&eacute;o et fonctionnalit&eacute;s).</font></p>
      <p align="center"><font color="#FFFFFF" size="3" face="Arial, Helvetica, sans-serif"><a href="mailto:video@finances.gouv.fr">video@finances.gouv.fr</a></font></p>
    </td>
  </tr>
</table>
<div align="center">
  <p> <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">Fonctions interactives dans les 
    zones de boutons affich&eacute;es au passage de la souris</font></p>
  <table width="692" border="0" cellspacing="0">
    <tr> 
      <td colspan="2" background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>BARRE 
        DU HAUT</strong></font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/infos.jpg" width="15" height="15"></td>
      <td width="658" background="pictos/fond_tableau.jpg"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        <strong><font color="#FFFF00">Information</font></strong> (pr&eacute;sentation du programme avec mention 
        de sa source)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/chapitres.jpg" width="15" height="13"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"><strong><font color="#FFFF00">Chapitres</font></strong> 
        (navigation dans la vid&eacute;o par locuteur et/ou par sujet avec acc&egrave;s 
        aux documents associ&eacute;s)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/langues.jpg" width="16" height="13"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"><strong><font color="#FFFF00">Langues 
        audio</font></strong> (choix de la langue du locuteur si disponible) </font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/videos_liees.jpg" width="12" height="14"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Vid&eacute;os 
        li&eacute;es</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        (autres vid&eacute;os de la m&ecirc;me conf&eacute;rence ou s&eacute;rie)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/dernieres_videos.jpg" width="15" height="14"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Derni&egrave;res 
        vid&eacute;os</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        (acc&egrave;s &agrave; toutes les vid&eacute;os <em>publi&eacute;es </em>dans 
        les minist&egrave;res financiers avec fonction de recherche)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/integration.jpg" width="12" height="15"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Int&eacute;gration</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        <img src="pictos/web2.jpg" width="49" height="15"> (diff&eacute;rents types de liens pour int&eacute;gration dans une page 
        web) </font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/support.jpg" width="14" height="14"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Support</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        (demande d&#8217;assistance technique par courriel) </font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/favoris.jpg" width="17" height="15"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"><strong><font color="#FFFF00">Favoris</font></strong> 
        (mise en favoris dans le navigateur)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/courriel.jpg" width="20" height="14"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"><strong><font color="#FFFF00">Courriel</font></strong> 
        (envoi du titre du programme avec son url et un message personnalisable)</font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" background="pictos/fond_tableau.jpg"><img src="pictos/partage.jpg" width="22" height="14"></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Partage</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> 
        <img src="pictos/web2.jpg" width="49" height="15"> (copier / coller dans un r&eacute;seau social) </font></td>
    </tr>
  </table>
  <br>
  <table width="692" border="0" cellspacing="0">
    <tr> 
      <td colspan="2" background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>BARRE 
        DU BAS</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg">
<div align="center"><img src="pictos/play_pause.jpg" width="16" height="14"></div></td>
      <td width="658" background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"> 
        <strong>Lecture / Pause</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/chapitre_precedent.jpg" width="19" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Chapitre 
        pr&eacute;c&eacute;dent</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/chapitre_suivant.jpg" width="19" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Chapitre 
        suivant</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/video_precedente.jpg" width="19" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Vid&eacute;o 
        pr&eacute;c&eacute;dente</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/video_suivante.jpg" width="19" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Vid&eacute;o 
        suivante</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/niveau_audio.jpg" width="16" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Niveau 
        audio</strong></font></td>
    </tr>
    <tr> 
      <td background="pictos/fond_tableau.jpg"><div align="center"><img src="pictos/plein_ecran.jpg" width="18" height="14"></div></td>
      <td background="pictos/fond_tableau.jpg"><font color="#FFFF00" size="-1" face="Arial, Helvetica, sans-serif"><strong>Plein 
        &eacute;cran</strong></font></td>
    </tr>
  </table>
  <br>
  <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">Astuces</font><br>
  <br>
  <table width="692" border="0" cellspacing="0">
    <tr>
      <td background="pictos/fond_tableau.jpg"><font color="#FF9900" size="-1" face="Arial, Helvetica, sans-serif"><strong>Bascule document / vid&eacute;o</strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> (dans le cas de chapitres pr&eacute;sentant un document associ&eacute; on peut basculer du document &agrave; la vid&eacute;o en conservant la lecture audio) </font></td>
    </tr>
    <tr>
      <td background="pictos/fond_tableau.jpg"><div align="left"><font color="#FF9900" size="-1" face="Arial, Helvetica, sans-serif"><strong>Lecteur vid&eacute;o intranet </strong></font><font color="#FFFFFF">(<font size="-1" face="Arial, Helvetica, sans-serif">demander l'adresse &agrave; <a href="mailto:video@finances.gouv.fr">video@finances.gouv.fr)</a></font></font></div></td>
    </tr>
    <tr>
      <td background="pictos/fond_tableau.jpg"><div align="left"><font color="#FF9900" size="-1" face="Arial, Helvetica, sans-serif"><strong>Poster / Publier une vid&eacute;o </strong></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"><img src="pictos/web2.jpg" width="49" height="15"></font><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif"> (demander une ouverture de compte &agrave; <a href="mailto:video@finances.gouv.fr">video@finances.gouv.fr)</a></font></div></td>
    </tr>
    <tr>
      <td background="pictos/fond_tableau.jpg"><font color="#FF9900" size="-1" face="Arial, Helvetica, sans-serif"><strong>Personnaliser le lecteur </strong><font color="#FFFFFF">(filtrer les fonctions ou les contenus ; contacter <a href="mailto:video@finances.gouv.fr">video@finances.gouv.fr</a>) </font></font></td>
    </tr>
  </table>
  <p align="center">&nbsp;</p>
  <p><br>
    <br>
  </p>
</div>
</body>
</html>
